<div class="container" ng-controller="UserController as uctrl">
	<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Username</th>
				<th>Password</th>
				<th>Role</th>
				<th>Status</th>
				<th>Reason for Rejection</th>
				<th>Accept/Reject</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="usercred in uctrl.usercreds">
				<td>{{usercred.username}}</td>
				<td>{{usercred.password}}</td>
				<td>{{usercred.role}}</td>
				<td>{{usercred.status}}</td>
				<td>{{usercred.reason}}</td>
				<td><button class="btn btn-xs btn-success" ng-click="uctrl.acceptUser(usercred.username)">Accept</button> <button class="btn btn-xs btn-danger" ng-click="uctrl.rejectUser(usercred.username)">Reject</button></td>
			</tr>
		</tbody>
	</table>
	</div>
</div>