<div class="container" ng-controller="EventController as ectrl">
	<div class="row" ng-hide="showUpdateForm">
		<div class="jumbotron">
			<h3 class="text-center">Manage Event</h3>
			<form name="eventform" ng-submit="ectrl.submitEventFormToAdd()" novalidate>
				<div class="row">
					<div class="form-group col-sm-4">
						<label for="name">Event Name:</label>
						<input type="text" id="name" name="name" class="form-control" placeholder="Enter Event Name" required="required" ng-model="ectrl.event.event_name" value="{{ectrl.event.event_name}}" />
						<span style="color: red;" ng-show="eventform.name.$dirty && eventform.name.$invalid && !eventform.$submitted">
							<span ng-show="eventform.name.$error.required">Event name is required</span>
						</span>
					</div>
					<div class="form-group col-sm-4">
						<label for="description">Event Description:</label>
						<input type="text" id="description" name="description" class="form-control" placeholder="Enter Event Description" required="required" ng-model="ectrl.event.event_description" value="{{ectrl.event.event_description}}" />
						<span style="color: red;" ng-show="eventform.lastname.$dirty && eventform.lastname.$invalid && !eventform.$submitted">
							<span ng-show="eventform.lastname.$error.required">Event description is required</span>
						</span>
					</div>
					<div class="form-group col-sm-4">
						<label for="date">Event Date:</label>
						<input type="date" id="date" name="date" class="form-control" placeholder="Enter Event Date" required="required" ng-model="ectrl.event.event_date" value="{{ectrl.event.event_date}}" />
						<span style="color: red;" ng-show="eventform.date.$dirty && eventform.date.$invalid && !eventform.$submitted">
							<span ng-show="eventform.date.$error.required">Event description is required</span>
						</span>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-4">
						<label for="time">Event Time:</label>
						<input type="text" id="time" name="time" class="form-control" placeholder="Enter Event Time" required="required" ng-model="ectrl.event.event_time" value="{{ectrl.event.event_time}}" />
						<span style="color: red;" ng-show="eventform.time.$dirty && eventform.time.$invalid && !eventform.$submitted">
							<span ng-show="eventform.time.$error.required">Event date is required</span>
						</span>
					</div>
					<div class="form-group col-sm-4">
						<label for="venue">Event Venue:</label> 
						<textarea id="venue" rows="3" name="venue" placeholder="Enter Event Venue" class="form-control" required="required" ng-model="ectrl.event.event_venue" value="{{ectrl.event.event_venue}}" ></textarea>
						<span style="color: red;" ng-show="eventform.venue.$dirty && eventform.venue.$invalid && !eventform.$submitted">
							<span ng-show="eventform.venue.$error.required">Event venue is required</span>
						</span>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4 col-sm-offset-4">
						<input ng-disabled="eventform.$invalid" type="submit" value="Add Event" class="btn btn-primary btn-block">
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="row" ng-show="showUpdateForm">
		<div class="jumbotron">
			<h3 class="text-center">Manage Event</h3>
			<form name="eventform" ng-submit="ectrl.submitEventFormToUpdate()" novalidate>
				<div class="row">
					<div class="form-group col-sm-4">
						<label for="name">Event Name:</label>
						<input type="text" id="name" name="name" class="form-control" placeholder="Enter Event Name" required="required" ng-model="ectrl.event.event_name" value="{{ectrl.event.event_name}}" />
						<span style="color: red;" ng-show="eventform.name.$dirty && eventform.name.$invalid && !eventform.$submitted">
							<span ng-show="eventform.name.$error.required">Event name is required</span>
						</span>
					</div>
					<div class="form-group col-sm-4">
						<label for="description">Event Description:</label>
						<input type="text" id="description" name="description" class="form-control" placeholder="Enter Event Description" required="required" ng-model="ectrl.event.event_description" value="{{ectrl.event.event_description}}" />
						<span style="color: red;" ng-show="eventform.lastname.$dirty && eventform.lastname.$invalid && !eventform.$submitted">
							<span ng-show="eventform.lastname.$error.required">Event description is required</span>
						</span>
					</div>
					<div class="form-group col-sm-4">
						<label for="date">Event Date:</label>
						<input type="date" id="date" name="date" class="form-control" placeholder="Enter Event Date" required="required" ng-model="ectrl.event.event_date" value="{{ectrl.event.event_date}}" />
						<span style="color: red;" ng-show="eventform.date.$dirty && eventform.date.$invalid && !eventform.$submitted">
							<span ng-show="eventform.date.$error.required">Event description is required</span>
						</span>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-4">
						<label for="time">Event Time:</label>
						<input type="text" id="time" name="time" class="form-control" placeholder="Enter Event Time" required="required" ng-model="ectrl.event.event_time" value="{{ectrl.event.event_time}}" />
						<span style="color: red;" ng-show="eventform.time.$dirty && eventform.time.$invalid && !eventform.$submitted">
							<span ng-show="eventform.time.$error.required">Event date is required</span>
						</span>
					</div>
					<div class="form-group col-sm-4">
						<label for="venue">Event Venue:</label> 
						<textarea id="venue" rows="3" name="venue" placeholder="Enter Event Venue" class="form-control" required="required" ng-model="ectrl.event.event_venue" value="{{ectrl.event.event_venue}}" ></textarea>
						<span style="color: red;" ng-show="eventform.venue.$dirty && eventform.venue.$invalid && !eventform.$submitted">
							<span ng-show="eventform.venue.$error.required">Event venue is required</span>
						</span>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4 col-sm-offset-4">
						<input ng-disabled="eventform.$invalid" type="submit" value="Update Event" class="btn btn-primary btn-block">
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Description</th>
					<th>Date</th>
					<th>Time</th>
					<th>Venue</th>
					<th>Status</th>
					<th>Edit</th>
					<th>Activate/Deactivate</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="event in events | orderBy: 'event_id'">
					<td>{{event.event_name}}</td>
					<td>{{event.event_description}}</td>
					<td>{{event.event_date}}</td>
					<td>{{event.event_time}}</td>
					<td>{{event.event_venue}}</td>
					<td>{{event.status}}</td>
					<td><button class="btn btn-success btn-xs" ng-click="ectrl.getEvent(event.event_id)">Edit</button></td>
					<td><button class="btn btn-success btn-xs" ng-click="ectrl.activateEvent(event.event_id)">Activate</button> <button class="btn btn-danger btn-xs" ng-click="ectrl.deactivateEvent(event.event_id)">Deactivate</button></td>
				</tr>
			</tbody>
		</table>
		</div>
	</div>
</div>