<div ng-controller="BlogController as bctrl">
	<div class="table-responsive">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Title</th>
					<th>Description</th>
					<th>Created By</th>
					<th>Published On</th>
					<th>Status</th>
					<th>Reason for Rejection</th>
					<th>Accept/Reject</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="blog in blogs | orderBy:'blog_id'">
					<td>{{blog.blog_title}}</td>
					<td>{{blog.blog_description}}</td>
					<td>{{blog.created_by}}</td>
					<td>{{blog.published_on}}</td>
					<td>{{blog.status}}</td>
					<td>{{blog.rejection_reason}}</td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>