<div>
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 jumbotron">
			<h2 class="text-center">Login</h2>
			<!-- login form starts -->
			<form name="loginform" novalidate>
				<div class="form-group">
					<label for="usrname">Username:</label>
					<input type="text" id="usrname" name="username" class="form-control" placeholder="Enter Registered User Name" required="required" ng-model="username" />
					<span style="color: red;" ng-show="loginform.username.$dirty && loginform.username.$invalid">
						<span ng-show="loginform.username.$error.required">Username is required</span>
					</span>
				</div>
				<div class="form-group">
					<label for="pass">Password:</label> 
					<input type="password" id="pass" name="password" placeholder="Enter Password" class="form-control" required="required" ng-model="password" />
					<span style="color: red;" ng-show="loginform.password.$dirty && loginform.password.$invalid">
						<span ng-show="loginform.password.$error.required">Password is required</span>
					</span>
				</div>
				<small style="clear: left" class="pull-right">
					Forgot <a href="#">Password?</a>
				</small> <small class="pull-left" style="padding-top: 5px; clear: right;">Not
					a member? <a href="#/signup">Sign Up</a>
				</small>
				<div style="padding-top: 10px">
					<input ng-disabled="loginform.$invalid" type="submit" class="btn btn-primary btn-block">
				</div>
			</form>
			<!-- login form starts -->
		</div>
	</div>
</div>