<div class="container" ng-controller="UserController as uctrl">
	<div class="row">
		<div class="col-sm-8">
		</div>
		<div class="col-sm-4">
			<label>Search A Friend:</label>
			<input type="text" ng-model="searchtext" class="form-control" />
		</div>
	</div>
	<hr>
	<!-- <div class="row">
		<div class="col-sm-4 text-center">
			<strong>Name</strong>
		</div>
		<div class="col-sm-4 text-center">
		</div>
		<div class="col-sm-4 text-center">
			<strong>Add friend</strong>
		</div>
	</div>
	<hr> -->
	<div class="row">
	<div ng-repeat="user in uctrl.users | filter: searchtext">
			<div class="col-sm-3">
				<div class="panel panel-warning">
				    <div class="panel-heading text-center">{{user.username}}</div>
				    <div class="panel-body"><img alt="Profile Picture" ng-src="./resources/images/{{user.username}}.jpg" height="150px" width="150px" class="img-responsive" /></div>
				    <div class="panel-footer text-center"><button ng-controller="FriendController as fctrl" ng-click="fctrl.addFriendRequest(user.username)" class="btn btn-warning btn-xs">Add friend</button></div>
		  		</div>
		  	</div>
		 </div> 		
		<!-- <div class="row">
			<div class="col-sm-4 text-center">
				{{user.username}}
			</div>
			<div class="col-sm-4 text-center">
			</div>
			<div class="col-sm-4 text-center">
				<button ng-controller="FriendController as fctrl" ng-click="fctrl.addFriendRequest(user.username)" class="btn btn-warning btn-xs">Add friend</button>
			</div>
		</div> -->
	</div>
</div>	