<div ng-controller="FriendController as fctrl">
	<div class="row">
		<div class="col-sm-8">
		</div>
		<div class="col-sm-4">
			<label>Search A Friend:</label>
			<input type="text" ng-model="searchtext" class="form-control" />
		</div>
	</div>
	<div class="row">
		<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th>Username</th>
					<th>Chat</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="friend in onlinefriends | filter: searchtext">
					<td>{{friend}}</td>
					<td><button ng-click="" class="btn btn-success btn-xs">Chat</button></td>
				</tr>
			</tbody>
		</table>
		</div>
	</div>
</div>